@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto';
}
/* dark-mode */
body{
    background-color: whitesmoke;
    color: black;
    transition: background-color 1s ease , color 1s ease;
}

body.dark-mode{
    background-color: #333;
    color: white;
}

/* dark-mode*/
.content{
    max-width: 1300px;
    margin: 0 auto;
}
.encabezado{
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  padding: 1.2em;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #494848;
  justify-content: space-between;
}
.logo{
    width: auto;
    height: 100px;
    flex-shrink: 1 1 auto;
}
.img-logo{
    width: 100%;
    object-fit: cover;
}
.btn-burger{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
.menu-burger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;
    
}
.busqueda{
    width: 100%;
    flex: 1;
    margin-right: 1em;
}
.busqueda input{
    width: 800px;
    height: auto;
    padding: 1em;
    border-radius: 15px;
    border-color: slateblue;
    background-color: #424040;
    color: whitesmoke;

}
.busqueda input::placeholder{
    font-size: 0.8em;
    color: #928a8a;
    font-family: 'Roboto';
}
.btn-lateral{
    display: flex;
    gap: 1em;
    width: auto;
}
.list-lat{
  display: flex;
  list-style: none;
  width: 150px;
  height: auto;
  justify-content: space-between;
  padding: 0;
  gap: 1em;
}
.list-lat button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.content{
    width: 100%;
    height: auto;
}
.cont-main{
    width: 100%;
    padding: 1.2em;
}
.nav-central{
    width: 60%;
    height: auto;
    margin: 0 auto;

}
.lista-central{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.lista-central li{
    padding: 1em;
}
.lista-central li a{
    color: inherit;
    display: block;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.5s ease-in-out, color 0.5s ease;
    cursor: pointer;
}
.lista-central li a:hover{
    transform: scale(1.1);
    color: #3f2266;
}
.lista-central li a:visited{
    color: inherit;
}
.bnn-general{
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
}
.foto1{
    width: 100%;
    height: auto;
}
.cont-dest{
    width: 90%;
    margin: 0 auto;
}
.destacados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    margin-top: 1em;
}

.cont-armado{
    width: 100%;
    padding: 1.2em;
}
.bnn-armado{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-image: url(imagenes/amdz.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1.5s ease;
}
.bnn-armado a{
    display: block;
}
.bnn-armado:hover{
    transform: scale(1.01);
}
/* Estilos small card*/
.small-card{
    display: flex;
    border: 1px solid #121212;
    border-radius: 8px;
    padding: 1em;
    gap: 0.5em;
    width: auto;
    background-color: white;
    color: #121212;
    transition: transform 0.5s ease;
}
.small-card:hover{
    transform: scale(1.05);
}
.cont-img-s-card{
    width: auto;
    flex-shrink: 0;
}
.img-s-card{
    width: 100%;
    height: auto;
}
.col-der{
    
    width: auto;
    text-align: center;
}
.desc-s-card{
    width: auto;
}
.desc-s-card h4{
    font-size: 1em;
}
.precio-s-card{
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilos small card*/
.cont-cat-b{
    display: grid;
    grid-template-columns: 150px 150px repeat(4, 190px);
    grid-template-rows: repeat(2, 175px);
    width: 90%;
    gap: 1em;
    padding: 1.2em;
    margin: 0 auto;
}
.caja-n{
    width: 100%;
    height: auto;
    transition: transform 1.5s ease;
    position: relative;
    display: inline-block;
}
.caja-n:hover{
    transform: scale(1.05);
}
.caja-g{
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
    position: relative;
    display: inline-block;
}
.caja-g:hover{
    transform: scale(1.05);
}
.caja-g img{
    width: 100%;
    height:100% ;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}
.caja-g{
    grid-column: 1/3;
    grid-row: 1/3;
}

.caja-n img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}
.n-desc {
  position: absolute;
  left: 0;
  bottom: 5px;       
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); 
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
}
.cont-ofertas{
    width: 90%;
    margin: 0 auto;
}
.ofertas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    margin-top: 1em;
}
.promos{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 1em;
}
.cont-title-marc p{
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: 500;
}
.btn-marcas{
    margin-left: 0.5em;
    border: 2px solid black;
    padding: 0.2em;
    width: 120px;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}
.btn-marcas:focus{
    background-color: rgb(63, 54, 126);
    color: whitesmoke;
}
.cont-prodcs{
    display: flex;
    width: 65%;
    margin-left: 6em;
    height: auto;
    gap: 1em;
    padding: 1.2em;
}
.cont-img-marc{
  width: 300px;
  height: 100%;
}
.cont-img-marc img{
    width: 100%;
    border-radius: 8px;

}
.col-marc{
    display: flex;
    gap: 1em;
}
footer {
  background-color: #494848;
  color: whitesmoke;
  padding: 1.2em;
}
.footer-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  margin: 0 auto;
}
.cont-nos{
    flex: 1 1 auto;
}
.nosotros{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nosotros li a{
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.5s ease
}
.nosotros li a:hover{
    color: slateblue;
}
.cont-redes {
  margin-top: 2em;
  text-align: center;
}

.redes {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.redes img {
  width: 48px;
  height: 48px;
  transition: transform 0.2s;
}

.redes img:hover {
  transform: scale(1.2);
}
.copyright {
  display: flex;
  margin-top: 2em;
  padding-top: 1em;
  justify-content: center;
  font-size: 0.875em;
  color: #ccc;
  gap: 0.2em;
}

.copyright img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.copyright img:hover {
  transform: scale(1.2);
}
.footer-links{
  padding: 1.2em;
  color: black;
  display: none;
  margin-top: 1em;
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
}
a.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
  text-decoration: none;
}


@media(max-width:768px){
    .encabezado{
        height: auto;
       
        position: relative;
    }
    .btn-burger{
        display: block;
        color: #ccc;
        
    }
    .btn-burger i{
        font-size: 2em;
    }
    .menu-burger{
        display: none;
        flex-direction: column;
        position: absolute;
        gap: 0.5em;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #404788;
    }
    .menu-burger.show{
        display: flex;
    }
    .menu-burger .busqueda{
        width: 100%;  
        margin: 0 auto;
}
    .menu-burger .busqueda input{
        width: 100%;
    }
    .menu-burger .btn-lateral{
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
}
    
    .menu-burger .btn-lateral button{
        flex: 1;
    }
    .content{
        width: 100%;
        margin: 0 auto;
    }
    .nav-central{
        width: 100%;
        
    }
    .lista-central li{
        padding: 0;
}
    
    .bnn-general{
        width: 100%;
    }
    .destacados{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        margin: 0 auto;
        margin-top: 1em;
}
    .bnn-armado{
        width: 100%;
    }
    .cont-cat-b{
        display: grid;
        grid-template-columns: 150px 150px ;
        grid-template-rows: repeat(4, 175px);
        width: 90%;
        gap: 1em;
        padding: 1.2em;
        margin: 0 auto;
    }
    .cont-ofertas{
        width: 90%;
        margin: 0 auto;
}
    .ofertas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        margin-top: 1em;
}
    .cont-prodcs{
        width: 90%;
        margin: 0 auto;
        gap: 5em;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
}
    .col-marc{
        scroll-snap-align: auto;
    }
}